.container{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    padding: 16px 12px;
    h2{
        font-size: 48px;
        color: #212529;
        margin:  0 0 ;
    }
    .productsBtn{
        width: 1280px;
        display: flex;
        justify-content: center;
        padding: 48px 12px;
        button{
            padding: 4px 8px;
            margin: 8px;
            color: #212529;
            border: 1px solid #212529;
            border-radius: 3px;
            &:hover{
                background-color: #212529;
                color: #ffffff;
            }
        }
    }
          
}